@import "@/styles/variables";

.AppBarWrapper {
	background-color: $appbar-color;
	// border: 1px dashed gray;
	box-shadow: 1px 1px 1px #292a2c36;
	position: fixed;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	// padding: 0 1rem 0 4rem;
	width: 100%;
	min-height: $appbar_height;

	.alignCenter {
		width: 85%;
		// border: 1px dashed gray;
		// background-color: red;
		display: flex;
		align-items: center;
	}
}

.PageContext {
	font-size: 1.2rem;
	font-weight: 600;
	// margin-left: 5%;
	color: $dm_primary_color;
}
