@import "../../styles/variables";

.Wrapper {
	background-color: $accent_blue;
	height: 100%;
	position: fixed;
	z-index: 2;
	padding: 0.6rem 0.2rem;
	color: white;
	font-family: "Inter";
	display: flex;
	flex-direction: column;
	overflow: hidden;
	width: 4rem;
	// margin-top: 3rem;
}
